/* Tags */

body {
  margin: 0;
  font-family: 'Karla',
    sans-serif;
}

/* .nav-container, */
.welcome-container,
.welcome-item1,
.welcome-item2,
.about-container,
.about-item1,
.about-item2,
.about-item3,
.about-item4,
.footer-container,
.eduction-container,
.education-item1,
.education-item2,
.career-container,
.career-item1,
.career-item2,
li {
  border: 1px #ccc solid;
  padding: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}



h2 {
  font-family: 'Pacifico',
    cursive;
}

footer {
  background-color: #444;
}


/* flex containers */

.nav-container {
  display: flex;
  background-color: #FFC0CB;
  align-items: center;
  padding: 1%
}

.welcome-container {
  display: flex;
  flex-wrap: wrap;

  background: #eecda3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef629f, #eecda3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef629f, #eecda3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f5f5f2;
  align-items: center;
  margin-top: 0;

}

.career-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  align-items: stretch;
  justify-content: center;
  margin-top: 0;

}

.eduction-container {
  display: flex;
  flex-direction: column;
  margin-top: 0;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

/* flex Items  */
.nav-item1 {
  margin-right: auto;
  flex-grow: 1;
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}

.nav-item2 {
  font-size: 1.2rem;
  padding: 1%;

}

.nav-item2:visited,
.nav-item1:visited {
  color: black;
}

.li-a {
  flex-basis: 6%;
  margin: 0 1% 0 0;
}

.welcome-item1,
.welcome-item2 {
  margin: auto;
}

.welcome-item1 {
  color: white;
  font-size: 3rem;
}

.about-item1,
.about-item2 {
  width: 75%;
  background-color: #f5f5f2;
}

.about-item1 {
  margin-top: 0;
}

.career-item1,
.career-item2 {
  background-color: #FFF;
}

.career-item2 {
  margin: 2%;
}

.career-item1,
.education-item1 {
  margin-top: 0;
}

.career-logo {
  height: 84.5px;
  width: 267.5px;
}

.kbt-logo {
  height: 82.75px;
  width: 149.875px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.color-about {
  background-color: #f5f5f2;
}

.color-about1 {
  background-color: #FFC0CB;
}



.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}