/* Tags */

body {
  margin: 0;
  font-family: 'Karla',
    sans-serif;
}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}



h2 {
  font-family: 'Pacifico',
    cursive;
}

footer {
  background-color: #444;
}


/* flex containers */

.nav-container {
  display: flex;
  background-color: #FFC0CB;
  align-items: center;
  padding: 1%;
}

.welcome-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 5% 5% 5%;

  background: #eecda3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef629f, #eecda3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef629f, #eecda3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f5f5f2;
  align-items: center;
  margin-top: 0;
  padding: 0 5% 5% 5%;
}

.career-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  align-items: stretch;
  justify-content: center;
  margin-top: 0;
  padding: 0 4% 2% 4%;
}

.eduction-container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0 3% 3% 3%;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding: 2% 2% 2% 2%;
}

/* flex Items  */

.about-item1,
.career-item1,
.education-item1 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 3% 3% 0 3%;
}









.nav-item1 {
  margin-right: auto;
  flex-grow: 1;
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}

.nav-item2 {
  font-size: 1.2rem;
  padding: 1%;

}

.nav-item2:visited,
.nav-item1:visited {
  color: black;
}

.li-a {
  flex-basis: 6%;
  margin: 0 1% 0 0;
}

.welcome-item1,
.welcome-item2 {
  margin: auto;
}

.welcome-item1 {
  color: white;
  font-size: 3rem;

  width: 575px;
  padding: 0;
}

.c1:hover,
.c2:hover,
.c3:hover,
.c4:hover {
  transform: scale(1.2);
}

.about-item1,
.about-item2 {
  width: 75%;
  background-color: #f5f5f2;
}

.career-item1,
.career-item2 {
  background-color: #FFF;
}

.career-item2 {
  margin: 2%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.color-about {
  background-color: #f5f5f2;
}

.color-about1 {
  background-color: #FFC0CB;
}

.career-logo {
  height: 84.5px;
  width: 267.5px;
}

.kbt-logo {
  /* height: 82.75px;
  width: 149.875px; */
  height: 125.5px;
  width: 267.5px;
}

.BRC-logo {
  height: 84.5px;
  width: 280.5px;
}

.education-p {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.typed::after {
  content: '▋';
  display: inline;
  -webkit-animation: .7s infinite blink;
  animation: .7s infinite blink;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1
  }

  50% {
    opacity: 0
  }
}

@-webkit-keyframes blink {

  0%,
  100% {
    opacity: 1
  }

  50% {
    opacity: 0
  }
}